.storiesContainer {
  padding-top: 20px;
}

.storiesTitle {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 2.25rem; /* 36px */
  line-height: 1.1;
  color: #032D42;
  margin-bottom: 20px;
  font-weight: bold;
}

.storiesHeader {
  display: flex;
  justify-content: space-between;
  background-color: #62D84E;
  @apply rounded-md;
  padding: 8px;
  margin-bottom: 10px; /* Space below the header */
}

.headerCheckbox {
  width: 40px; /* Adjust width for larger checkboxes */
}

.headerTitle,
.headerAsA,
.headerIWantTo,
.headerSoThat,
.headerAcceptanceCriteria,
.headerHints {
  color: #FFFFFF;
  font-size: 1.25rem; /* 20px */
  font-weight: bold;
  text-align: left;
  flex: 1; /* Ensures equal width for columns */
}

.storiesList {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 20px; /* Space between the button and the table */
}

.storyItem,
.storyItemAlt,
.storyCompleted {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  @apply rounded-md;
  margin-bottom: 1px;
}

.storyTitle,
.storyAsA,
.storyIWantTo,
.storySoThat,
.storyAcceptanceCriteria,
.storyHints {
  color: #032D42;
  text-align: left;
  flex: 1; /* Ensures equal width for columns */
  padding-right: 8px; /* Adjusts for text length */
  justify-content: space-between;

}

.storyItem {
  background-color: #FFFFFF;
}

.storyItemAlt {
  background-color: #f2f2f2;
}

[data-theme="dark"] .storyItem {
  background-color: #032D42;
  color: #fff;

}


[data-theme="dark"] .storyItem li {
  color: #fff;
}

[data-theme="dark"] .storyItemAlt {
  color: #fff;
  background-color: #031721;
}

[data-theme="dark"] .storyItemAlt li {
  color: #fff;
}

[data-theme="dark"] .storyTitle,
.storyAsA,
.storyIWantTo,
.storySoThat,
.storyAcceptanceCriteria,
.storyHints {
  color: #fff;
}




.storyCheckbox {
  display: flex;
  align-items: center; /* Align checkboxes to the center */
  justify-content: center;
  width: 40px; /* Make checkboxes bigger */
  height: 40px; /* Make checkboxes bigger */
}

.clearAllButton {
  background-color: #62D84E;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Ensure the button is on its own line */
  margin-bottom: 20px; /* Space below the button */
  margin-left: auto;
  margin-right: 0;
  transition: background-color 0.3s ease;
}

.clearAllButton:hover {
  background-color: red; /* Button turns red on hover */
  color: white; /* Ensure text is readable */
}

.clearAllButton.confirm {
  background-color: red;
}

.clearAllButton.confirm:hover {
  background-color: darkred;
}

.storyCompleted {
  background-color: #d3d3d3; /* Light gray background */
  color: #808080; /* Gray text color */
}

[data-theme="dark"] .storyCompleted {
  background-color: #000; /* Light gray background */
  color: #444444; /* Gray text color */
}

.storyAcceptanceCriteria ul, .storyHints ul {
  font-size: unset; /* Unset font size for bulleted lists */
  list-style-type: unset; /* Unset list style type */
}

.storyAcceptanceCriteria li, .storyHints li {
  font-size: unset; /* Unset font size for list items */
  list-style-type: unset; /* Unset list style type */
}

.storyTitle {
  display: flex;
}

.hintsIcon {
  margin-left: 8px;
  cursor: pointer;
}

.hintsIcon:hover::after {
  content: "Hints";
  position: absolute;
  background-color: #eee;
  padding: 4px 8px;
  border-radius: 4px;
  top: -25px;
  left: 10px;
  white-space: nowrap;
}

.modalCloseButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #62D84E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
}

.modalCloseButton:hover {
  background-color: red;
}


.modalContent {
  display: flex;
  flex-direction: column;
}



[data-theme="dark"] .modalContent p {

    color: #032D42;
  }

  [data-theme="dark"] .modalContent p li {
    color: #032D42;
  }

.storyCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 10px 0; /* Adjust padding as needed */
}

.uiBuilderIcon {
  color: #62D84E;
  margin-top: 8px; /* Adjust margin as needed */
}

.uiBuilderIconParagraph {
  color: #62D84E;
  display: unset;
}

.storyAcceptanceCriteria {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.acceptanceCriteriaText {
  flex: 1; /* Takes up available space */
  text-align: left; /* Align text to the left */
}

.expandIcon {
  cursor: pointer;
  color: #62D84E;
  margin-left: 8px;
  position: absolute;
  right: 0; /* Aligns the icon to the right of the container */
  top: 50%;
  transform: translateY(-50%); /* Vertically center the icon */
}

.expandIcon:hover {
  color: #032D42;
}